{% extends "Sweepstake/base.html" %}
{% load static %}

{% block title %} Country Performance {% endblock %}

{% block link %}
<a class="link" href="/">Index</a>
{% endblock %}

{% block content %}
<div class="container">
    <div id="top_countries">
        <div class="top_team" id="top1">
            <h1>Country</h1>
            <h3>5 Points</h3>
        </div>
        <div class="top_team" id="top0">
            <h1>Country</h1>
            <h3>5 Points</h3>
        </div>
        <div class="top_team" id="top2">
            <h1>Country</h1>
            <h3>5 Points</h3>
        </div>
    </div>
    <div id="pot1">
        <h1>Pot 1</h1>
        <ul class="item_list">
            <li class="title">
                <div class="item_name">Name</div><div class="item_points">Average Points</div>
            </li>
        </ul>
    </div>
    <div id="pot2">
        <h1>Pot 2</h1>
        <ul class="item_list">
            <li class="title">
                <div class="item_name">Name</div><div class="item_points">Average Points</div>
            </li>
        </ul>
    </div>
    <div id="pot3">
        <h1>Pot 3</h1>
        <ul class="item_list">
            <li class="title">
                <div class="item_name">Name</div><div class="item_points">Average Points</div>
            </li>
        </ul>
    </div>
    <div id="pot4">
        <h1>Pot 4</h1>
        <ul class="item_list">
            <li class="title">
                <div class="item_name">Name</div><div class="item_points">Average Points</div>
            </li>
        </ul>
    </div>
</div>


{% endblock %}