<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="world-cup-betting-pool">
        <link rel="shortcut icon" href="{% static 'v2/icons/football_tab.svg' %}">
        <link rel="stylesheet" href="{% static 'Sweepstake/Style.css' %}">
        <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <header id="showcase">
            <div class="header_background"></div>
            <div class="header_content">
                <h1>World Cup 2018 Sweepstake</h1>
                <p>Cushman & Wakefield</p>
                {% block link %}
                <a href="/create_user">Create User</a>
                {% endblock %}
            </div>
        </header>
        
        <main class="grid">
        {% block content %}
        {% endblock %}
        </main>
        <footer class="grid">
            <p class = "footer-tekst"></p>
        </footer>
    </body>
</html>
